<div class="card p-fluid">
    <h4><b>{{question.sourceSentence.text}}</b></h4>
    
    <div *ngIf="showAnswer; else showOptions">
        <p>{{question.targetSentence.text}}</p>
        <audio controls>
            <source src="{{question?.bitmark?.essay?.resource?.audio?.src}}" type="audio/mpeg">
        </audio>
    </div>

    <ng-template #showOptions>
        <div *ngFor="let option of options; let i = index;" class="field-checkbox">
            <p-radioButton [value]="option.key" [(ngModel)]="selected" 
                (onClick)="setSelected(option.key, question.sourceSentence.text, option.sentence)" inputId="{{option.key}}option{{i}}">
            </p-radioButton>
            <label for="{{option.key}}option{{i}}">{{ option.sentence }}</label>
        </div>
    </ng-template>
</div>
