<div class="flex w-full">
    <div class="quiz-container">
        <p-toast></p-toast>
        <div class="col-12" *ngIf="!quizStarted">
            <div class="card p-fluid">
                <button pButton label="Start quiz" (click)="startQuiz()" (disable)="isLoading" ></button>
            </div>
        </div>
        <div *ngIf="quizStarted">
            <div class="mb-8">
                <div class="progress-text">{{responses.length}} / {{quiz.length || 0}}</div>
                <div class="progress-bar">
                    <span style="width: {{progress}}%"></span>
                </div>
            </div>
            <div class="col-12">
                <h3>Choose the correct translation for the following sentences: </h3>
            </div>
            <div *ngIf="quiz.length === qtyQuizzes; else skeletonQuizzes" style="display: flex; flex-wrap: wrap;">
				<div class="col-12 md:col-6" *ngFor="let question of quiz">
					<app-question 
						[question]="question" 
						[showAnswer]="showAnswer"
						(valueResponse)="setResponse($event)"
					>
					</app-question>
				</div>
			</div>
			
			<ng-template #skeletonQuizzes>
				<div *ngIf="quizStarted" class="col-12" style="display: flex; flex-wrap: wrap;">
					<div class="col-12 md:col-6" *ngFor="let question of [].constructor(qtyQuizzes)">
						<div class="card p-fluid">
							<div>
								<p-skeleton width="100%" height="2rem" styleClass="mb-2"></p-skeleton>
								<p-skeleton width="100%" height="200px"></p-skeleton>
							</div>		
							<p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
						</div>
					</div>
				</div>
			</ng-template>
			
            <div class="col-12" *ngIf="!showAnswer">
                <button pButton label="Get results" (click)="getScore()" (disable)="isLoading"></button>
            </div>
            <div class="col-12" *ngIf="showAnswer">
                <button pButton label="Go To Home" (click)="goToHome()" (disable)="isLoading"></button>
            </div>
        </div>
    </div>
</div>
