<div class="grid">
    <p-toast></p-toast>
	<div class="col-12">
		<div class="card p-fluid">
			<h5>Quiz</h5>
            <button *ngIf="!quizStarted" pButton label="Start quiz" (click)="startQuiz()" (disable)="isLoading" ></button>
		</div>
	</div>
	<div class="col-12">
		<h3>Translate these sentences to English: </h3>
	</div>
	<div class="col-12 md:col-6" *ngFor="let question of quizzes">
        <!--*ngIf="quizzes.length === 10 && quizStarted"-->
		<app-question [question]="question" (valueResponse)="setResponse($event)"></app-question>
	</div>
    <div class="col-12">
        <button *ngIf="quizStarted" pButton label="Get results" (click)="getScore()" (disable)="isLoading"></button>
	</div>
</div>
