<div class="flex w-full">
    <div class="quiz-container">
        <div class="progress-bar">
            <span style="width: {{progress}}%"></span>
        </div>
        <div class="font-bold text-lg">
            Choose the correct translation for the following sentence:
        </div>
        <div class="font-bold text-2xl my-6 flex justify-content-center">
            {{question?.question}}
        </div>
        <form class="choices">
            <div class="flex items-center mr-4 mb-4" *ngFor="let choice of question?.choices; let i = index">
                <input id="radio{{i}}" type="radio" name="radio" class="hidden" formControlName="selectedAnswer" required />
                <label for="radio{{i}}" class="flex items-center cursor-pointer text-xl">
                    <span class="inline-block mr-2 rounded-full border border-grey flex-no-shrink"></span>
                    {{choice}}
                </label>
            </div>
            <div class="flex justify-content-end">
                <button type="button" (click)="submitAnswer()" pButton pRipple label="Save"></button>
            </div>
        </form>
    </div>
</div>
