/* Eliminamos márgenes y ponemos fondo de página negro */
html,body {
    margin:0;
    background:#000;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .jumper {
        position: relative;
        z-index: 10;
        &.is-jumping {
            animation: jump var(--bern-animation-duration);
            animation-fill-mode: forwards;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 180px;
        padding: 0 40px;
    }
}

.tube-container {
    position: absolute;
    top: -30px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    animation: movetb var(--tube-animation-duration);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    width: 70%;
    left: 45%;

    > .tube-hidde {
        visibility: hidden;
    }
}

/* Bernard Bernoulli: Animación del personaje */
#bern {
    /* Tamaño de la viñeta individual */
    width:112px;
    height:156px;
    /* Cómo hay establecido un tamaño, centramos con margin:auto */
    margin:auto;
    /* Cargamos el sprite (el repeat-x se puede omitir, por defecto se repite) */
    background:url(https://i.imgur.com/ifk0SLH.png) repeat-x;
    animation:walk var(--bern-animation-duration) steps(6) infinite;
    /* Aplicamos la animación "walk": 0.8seg, 6 viñetas y repetimos infinitamente */
    /* Posicionamos el personaje sobre el camino de madera */
    position:relative;
    bottom:34px;
}

/* Bernard Bernoulli: Animación del personaje */
#tube {
    /* Tamaño de la viñeta individual */
    width:141px;
    height:154px;
    /* Cómo hay establecido un tamaño, centramos con margin:auto */
    /* Cargamos el sprite (el repeat-x se puede omitir, por defecto se repite) */
    background:url(https://art.pixilart.com/4c0fa491bafc087.png) repeat-x;
    /* Aplicamos la animación "walk": 0.8seg, 6 viñetas y repetimos infinitamente */
    /* Posicionamos el personaje sobre el camino de madera */
    bottom:34px;
    background-size: cover;
}

/* Animación del cielo. Efecto "Parallax", va más lento que el mar. */
#sky {
    background:url(https://i.imgur.com/PhHVjgw.png) repeat-X;
    animation: movebg var(--sky-animation-duration) linear infinite;
}

/* Animación del mar. */
#sea {
    background:url(https://i.imgur.com/h75XWy8.png) repeat-x;
    animation: movebg var(--sea-animation-duration) linear infinite;
    /* Posicionamos el mar, para que no solape al cielo */
    position:relative;
    top:145px;
    /* Pequeño degradado interior para suavizar el mar. Puede consumir muchos recursos */
    box-shadow:10px 10px 45px RGBA(0,0,0, 0.85) inset;
}

#sky.paused {
    animation-play-state: paused;
    #bern {
        animation-play-state: paused;
    }

    /* Bernard Bernoulli: Animación del personaje */
    #tube {
        animation-play-state: paused;
    }

    /* Animación del mar. */
    #sea {
        animation-play-state: paused;
    }

    .tube-container {
        animation-play-state: paused;
    }
}

/* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
@keyframes walk {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-672px }
}

@keyframes jump {
    /* Partimos de la primera viñeta del sprite sheet */
    0% {
        transform: translateY(0);
        z-index: 10;
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    50% {
        transform: translateY(-130px);
    }
    60% {
        z-index: 0;
    }
    100% {
        transform: translateY(0px);
        z-index: 0;
    }
}

/* Animación para mover cielo y mar */
@keyframes movebg {
    0% { background-position:550px }
    100% { background-position:0 }
}

@keyframes movetb {
    0% { transform: translateX(0); }
    100% { transform: translateX(-85%); }
}

@keyframes gbwalk {
    0% { background-position:0 }
    100% { background-position:-624px }
}
